<h1> Showing your resource</h1>

<p>
  Name: <%= @resource.name %>
</p>

<p>
  Description: <%= @resource.description %>
</p>

<p>
  Resource Type: <%= @resource.resource_type %>
</p>

<%= link_to 'Edit resource', edit_resource_path(@resource) %> |
<%= link_to 'Back to Resource Listing', resources_path %>